.footer{
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer .logo img {
    width: 50%;
    margin-bottom: 1rem;
}
.footer .logo p{
    color: black;
}

.social_icons span a{
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 1.9rem;
}
.footer_link-title{
    color: black;
    margin-bottom: 1rem;
}
.footer_quick-links li a{
    text-decoration: none;
    color:black;
    font-size: 1.1rem;
}

.footer_quick-links h6 span{
    color: var(--highlight-color);
    font-size: 1.5rem;
}


@media only screen and (max-width:768px){

    .footer_quick-links li a,.footer_link-title, .footer_quick-links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
 
    }

    .social_icons {   display: flex;
        justify-content: center;
     
    }
  
}